@using kuaforBerberOtomasyon.Models.DTO
@model List<EmployeeRespond>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Ad Soyad</th>
            <th scope="col">Verdiği Hizmet</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.EmployeeId</td>
                <td>@item.EmployeeName</td>

                <td>
                    @if (item.ServiceNames != null && item.ServiceNames.Any())
                    {
                        @foreach (var service in item.ServiceNames)
                        {
                            <span>@service</span><br />
                        }
                    }
                    else
                    {
                        <span>Hizmet Yok</span>
                    }
                </td>

               
            </tr>
        }
    </tbody>
</table>
