﻿@using kuaforBerberOtomasyon.Models.DTO
@model List<ServicesRespond>



@{
    ViewData["Title"] = "Hizmetler";
}

<header class="text-center py-4">
    <h1>Kuaför</h1>
    <p class="lead">Hizmet Bilgileri</p>
</header>

@{
    // Poliklinikleri Ana Bilim Dalı Adına Göre Alfabetik Sıralama
    var sortedServices = Model.OrderBy(item => item.Name).ToList();
}

@foreach (var item in sortedServices)
{
    <div class="list-group mb-3">
        <a href="@Url.Action("Employees", "Home", new { item.serviceId })" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
				<h5 class="mb-1">@(item.Name) </h5>
            </div>

            
        </a>
    </div>
}

<style>
    .list-group-item:hover {
        background-color: #fff0f5; /* Burada istediğiniz arka plan rengini belirtebilirsiniz */
        cursor: pointer;
    }
</style>
